smshost = "192.168.1.100"
smsusername = "admin"
smspassword = "admin"
smssize = 160
smstemplate = "Nouveau mail de %s. Object %s. Message ..."
smsformat = "ascii"

mailboxes = "/home/paul/PycharmProjects/smsgateway/mailbox.csv"

pidfile = "/run/lock/smsgateway.pid"
